.register
  .register__heder
    収入固定費の編集ができます
  .register__box
    .register__box__cost
      .font
        編集
      = form_with(model: @income_cost , local: true, url: main_show_cost_income_edit_path(@income_cost), method: :patch) do |form|
        = form.text_field :income, placeholder: :金額, class: :select
        %br/
        = form.text_field :content, placeholder: :収入源, class: :select
        %br/
        = form.submit '登録', class: :select, method: :patch
        %br/
= link_to "戻る", "/main/show", class: "back"
