.main
  .main__header
    = link_to "閉じる", destroy_user_session_path, method: :delete, class: "header__right--btn"
    .today-month #{$now_y} 年 #{$now_m} 月
    .header-box
      = link_to "登録", new_main_path, class: "header-box--register"
      = link_to "固定費登録", main_cost_new_path, class: "header-box--register"
  .main__main
    .main__main__month
      .main__main__month__back
      = form_tag '/main',method: :get, id: "year-month" do
        %select#month-select{list: "month", name: "example", placeholder: "月", type: "number"}/
        %datalist
          %option{value: 0} 今月
          %option{value: -1} 先月
          %option{value: -2} 先々月
          %option{value: -3} 3ヶ月前
          %option{value: -4} 4ヶ月前
          %option{value: -5} 5ヶ月前
          %option{value: -6} 6ヶ月前
          %option{value: -7} 7ヶ月前
          %option{value: -8} 8ヶ月前
          %option{value: -9} 9ヶ月前
          %option{value: -10} 10ヶ月前
          %option{value: -11} 11ヶ月前
          %option{value: -12} 一年前
        = submit_tag "切替", id: "month_tab"
    .main__main__show
      .main__main__show__income
        .main-font 収入
        .cost-font 臨時収入
        .cost-sum #{@income_variable.to_s(:delimited, delimiter: ',')}
        %br/
        - @incomes.each do |income|
          = link_to income[0], "/main/show", class:"content"
          = link_to income[1].to_s(:delimited, delimiter: ','), "/main/show", class:"content price"
          %br/
        %br/
        .cost-font 固定費
        = link_to @income_cost.to_s(:delimited, delimiter: ','), "/main/show", class:"content cost"
      .main__main__show__income
        .main-font 支出
        .cost-font 変動費
        .cost-sum #{@spend_variable.to_s(:delimited, delimiter: ',')}
        %br/
        - @spends.each do |spend|
          = link_to spend[0], "/main/show", class:"content"
          = link_to spend[1].to_s(:delimited, delimiter: ','), "/main/show", class:"content price"
          %br/
        %br/
        .cost-font 固定費
        = link_to @spend_cost.to_s(:delimited, delimiter: ','), "/main/show", class:"content cost"
  .main__futer
    .main__futer__cost
      %p 収入
      .main__futer__cost--sum
        = $income_sum.to_s(:delimited, delimiter: ',')
      %h1 円
    .main__futer__cost
      %p 支出
      .main__futer__cost--sum
        = $spend_sum.to_s(:delimited, delimiter: ',')
      %h1 円
    .main__futer__cost
      %p 月 差額
      .main__futer__cost--sum
        - month = Month.new
        = month.month_sum.to_s(:delimited, delimiter: ',')
      %h1 円
