<div class="main">

  <div class="main__header">
      <% if user_signed_in? %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__right--btn" %>
      <%= link_to "登録", new_main_path, class: "main__header--register" %>
    <% else %>
      <%= link_to "ログイン", new_user_session_path, class: "header__right--btn" %>
      <%= link_to "新規登録", new_user_registration_path, class:"header__right--btn"%>
    <% end %>
    </div>

  <%# <div class="calendar" id="calendar"></div> %>
  
  <div class="main__main">
    <div class="main__main__month">
      <div class="main__main__month__back">
        先月
      </div>
      <div class="main__main__month__year">
      </div>
      <div class="main__main__month__to">
      </div>
      <div class="main__main__month__next">
      次月
      </div>
    </div>

    <div class="main__main__show">
      <div class="main__main__show__income">
        収入
        <% @incomes.each do |i|%>
        <div class="i">
          <% i.each do |a|%>
          <%= link_to a, "/main/show", class:"main__main__show__income--content"%>
          <% end %>
        </div>
        <%end %>
      </div>

    <div class="main__main__show__spend">
      支出
      <% @spends.each do |i|%>
      <div class="i">
        <% i.each do |a|%>
         <%= link_to a, "/main/show", class:"main__main__show__spend--content"%>
        <% end %>
      </div>
      <%end %>
      </div>
    </div>
  </div>

  <div class="main__futer">
    <div class="main__futer__income">
      <p>収入</p>  
      <div class="main__main__income--sum">
        <%= @income[12]%>
      </div>
    </div>
    <div class="main__futer__spend">
      <p>支出</p> 
      <%= link_to @spend[12], "/main/", class:"main__futer__spend--sum"%>
    </div>
    <div class="main__futer__month">
      <p>月 差額</p>
      <% month = Month.new %>
      <%= link_to month.month_sum, "/main/", class:"main__futer__month--sum"%>
    </div>
  </div>
</div>