.register
  .register__heder
    %p 収入・支出どちらかに記入して下さい。
  .register__income
    = form_with(model: @income , local: true, url: "/main", method: :post) do |form|
      = form.text_field :income, placeholder: :金額, class: :income__price
      %br/
      = form.date_field :day, class: :income__day
      %br/
      = form.select :category, IncomeList.categories.keys, class: :income__income
      %br/
      = form.text_field :content, placeholder: :詳細, class: :income__income
      %br/
      = form.submit '登録', class: :income__send
      %br/
  .register__spend
    = form_with(model: @spend, local: true, url: "/main",method: :post) do |form|
      = form.text_field :spend, placeholder: :金額, class: :spend__price
      %br/
      = form.date_field :day, class: :spend__day
      %br/
      = form.select :category, SpendList.categories.keys, class: :income__income
      %br/
      = form.text_field :use, placeholder: :使い道, class: :spend__use
      %br/
      = form.submit '登録', class: :spend__send
      %br/
= link_to "戻る", "/main", class: "back"
