.show
  .now #{$now_y}年 #{$now_m}月
  = form_tag '/main/show',method: :get, id: "year-month" do
    %select#month-select{list: "month", name: "example", placeholder: "月", type: "number"}/
    %datalist
      %option{value: 0} 今月
      %option{value: -1} 先月
      %option{value: -2} 先々月
      %option{value: -3} 3ヶ月前
      %option{value: -4} 4ヶ月前
      %option{value: -5} 5ヶ月前
      %option{value: -6} 6ヶ月前
      %option{value: -7} 7ヶ月前
      %option{value: -8} 8ヶ月前
      %option{value: -9} 9ヶ月前
      %option{value: -10} 10ヶ月前
      %option{value: -11} 11ヶ月前
      %option{value: -12} 一年前
    = submit_tag "切替", id: :month_tab
  .show-box
    .show-box__pieces
      - @income.each do |income|
        = income.day.day
        日
        = link_to "編集", main_show_income_edit_path(income), class: :edit_delete
        = link_to "削除", main_show_income_destroy_path(income), class: :edit_delete, method: :delete
        %br/
        .category #{income.category}
        .content #{income.content}
        .price #{income.income.to_s(:delimited, delimiter: ',')}
        %br/
        %br/
      固定費
      %br/
      - @income_cost.each do |cost|
        = cost.content
        = cost.income.to_s(:delimited, delimiter: ',')
        = link_to "編集", main_show_cost_income_edit_path(cost), class: :edit_delete
        = link_to "削除", main_show_cost_income_destroy_path(cost), class: :edit_delete, method: :delete
        %br/
    .show-box__pieces
      - @spend.each do |spend|
        = spend.day.day
        日
        = link_to "編集", main_show_spend_edit_path(spend), class: :edit_delete
        = link_to "削除", main_show_spend_destroy_path(spend), class: :edit_delete, method: :delete
        %br/
        .category #{spend.category}
        .content #{spend.use}
        .price #{spend.spend.to_s(:delimited, delimiter: ',')}
        %br/
        %br/
      固定費
      %br/
      - @spend_cost.each do |cost|
        = cost.content
        = cost.spend.to_s(:delimited, delimiter: ',')
        = link_to "編集", main_show_cost_spend_edit_path(cost), class: :edit_delete
        = link_to "削除", main_show_cost_spend_destroy_path(cost), class: :edit_delete, method: :delete
      %br/
= link_to "<戻る>" , "/main" , class:"back"
